{% extends 'authentication/auth_base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="row align-items-center">
    <!-- Left side: Illustration -->
    <div class="col-md-6 d-none d-md-block px-5">
        <img src="{% static 'assets/img/password_reset.webp' %}" alt="Password Reset Illustration" class="img-fluid">
    </div>

    <!-- Right side: Reset Form -->
    <div class="col-md-6">
        <div class="text-center mb-4">
            <h1 class="h4 my-2 text-dark">{{ PROJECT_NAME }}</h1>
            <p class="text-muted">Enter your email to receive a password reset link.</p>
        </div>

        <div class="card shadow-sm">
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-dark ">Send Reset Link</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
